* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f1f6;
  font-family: "PingFang-SC-Medium";
  position: relative;
  height: 100vh;
}
header {
  height: 0.46666667rem;
  background-color: #313343;
  padding: 0.18333333rem 0.08333333rem;
}
header h1 {
  width: 0.83333333rem;
  height: 0.83333333rem;
  background: url("../img/logo.png") no-repeat;
  background-size: 100%;
  float: left;
  margin-top: -0.16666667rem;
}
header h2 {
  padding-left: 0.66666667rem;
  font-size: 0.38333333rem;
  color: #ffffff;
}
section {
  position: absolute;
  top: 0.83333333rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0.25rem;
  padding: 0.25rem;
  background-color: #ffffff;
  box-shadow: 5px 15px 15px rgba(51, 51, 51, 0.1);
}
section menu {
  font-size: 0;
  overflow: hidden;
}
section menu h3 {
  font-size: 0.26666667rem;
  padding-bottom: 0.24166667rem;
}
section menu select {
  width: 2rem;
  height: 0.39166667rem;
  margin-right: 0.25rem;
  border-radius: 0.04166667rem;
  border: #d3d3d3 1px solid;
  outline: none;
}
section menu select option {
  padding: 0.41666667rem;
}
section menu input {
  width: 0.78333333rem;
  height: 0.39166667rem;
  background-color: #1463ff;
  border-radius: 0.04166667rem;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  border: none;
}
section table {
  font-size: 10px;
  margin-top: 0.25rem;
  text-align: center;
  border: solid 1px #d1d1d1;
  border-top: none;
  border-collapse: collapse;
}
section table td {
  border: solid 1px #d1d1d1;
  border-spacing: none;
}
section table thead tr:first-of-type {
  font-size: 0.2rem;
  height: 0.55833333rem;
  font-weight: 500;
  color: #333333;
}
section table thead tr:first-of-type td {
  border-top: none;
}
section table thead tr:first-of-type td:first-of-type {
  border-top: solid 0.03333333rem #64BCE7;
}
section table thead tr:first-of-type td:first-of-type::after {
  content: "Serial number";
  display: block;
  font-size: 0.15rem;
  color: #999999;
  padding-top: 0.04166667rem;
}
section table thead tr:first-of-type td:nth-of-type(2) {
  border-top: solid 0.03333333rem #7aaae3;
}
section table thead tr:first-of-type td:nth-of-type(2)::after {
  content: "Classification of collapse causes";
  display: block;
  font-size: 0.15rem;
  color: #999999;
  padding-top: 0.04166667rem;
}
section table thead tr:first-of-type td:nth-of-type(3) {
  border-top: solid 0.03333333rem #55c2b0;
}
section table thead tr:first-of-type td:nth-of-type(3)::after {
  content: "Classification number of collapse causes";
  display: block;
  font-size: 0.15rem;
  color: #999999;
  padding-top: 0.04166667rem;
}
section table thead tr:first-of-type td:nth-of-type(4) {
  border-top: solid 0.03333333rem #eebf75;
}
section table thead tr:first-of-type td:nth-of-type(4)::after {
  content: "Number of disaster points";
  display: block;
  font-size: 0.15rem;
  color: #999999;
  padding-top: 0.04166667rem;
}
section table thead tr:first-of-type td:nth-of-type(5) {
  border-top: solid 0.03333333rem #e47f7f;
}
section table thead tr:first-of-type td:nth-of-type(5)::after {
  content: "Occupation ratio";
  display: block;
  font-size: 0.15rem;
  color: #999999;
  padding-top: 0.04166667rem;
}
section table thead tr:nth-of-type(2) {
  height: 0.49166667rem;
  font-size: 0.18333333rem;
  color: #666666;
}
section table tbody tr {
  height: 0.46666667rem;
  line-height: 0.46666667rem;
  font-size: 0.15rem;
  color: #666666;
}
section table tbody tr:nth-of-type(odd) {
  background-color: #f2f2f6;
}
section table tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}
section p {
  padding-top: 0.24166667rem;
  font-size: 0.11666667rem;
  text-align: right;
  color: #999999;
}
