* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.change {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 666;
  margin: 30px;
  width: 120px;
  height: 60px;
  background-color: #1463ff;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  border: none;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.map {
  width: 100%;
  height: 100%;
}
.map .year-type {
  position: absolute;
  top: 43px;
  left: 30px;
  width: 240px;
  height: 47px;
  margin-right: 30px;
  border-radius: 5px;
  border: #d3d3d3 1px solid;
  outline: none;
}
.map p {
  font-size: 38px;
  text-align: center;
  padding-top: 40px;
}
.table {
  display: none;
}
.table section {
  background-color: #ffffff;
  padding: 0 30px;
}
.table section menu {
  font-size: 0;
  overflow: hidden;
}
.table section menu p {
  font-size: 38px;
  text-align: center;
  padding-top: 40px;
}
.table section menu select {
  width: 240px;
  height: 47px;
  margin-right: 30px;
  border-radius: 5px;
  border: #d3d3d3 1px solid;
  outline: none;
}
.table section menu select option {
  padding: 50px;
}
.table section menu input {
  width: 94px;
  height: 47px;
  background-color: #1463ff;
  border-radius: 5px;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  border: none;
}
.table section table {
  font-size: 10px;
  margin-top: 30px;
  text-align: center;
  border: solid 1px #d1d1d1;
  border-top: none;
  border-collapse: collapse;
}
.table section table td {
  border: solid 1px #d1d1d1;
  border-spacing: none;
}
.table section table thead tr:first-of-type {
  font-size: 24px;
  height: 67px;
  font-weight: 500;
  color: #333333;
}
.table section table thead tr:first-of-type td {
  border-top: none;
}
.table section table thead tr:first-of-type td:first-of-type {
  border-top: solid 4px #64bce7;
}
.table section table thead tr:first-of-type td:nth-of-type(2) {
  border-top: solid 4px #7aaae3;
}
.table section table thead tr:first-of-type td:nth-of-type(3) {
  border-top: solid 4px #55c2b0;
}
.table section table thead tr:first-of-type td:nth-of-type(4) {
  border-top: solid 4px #eebf75;
}
.table section table thead tr:first-of-type td:nth-of-type(5) {
  border-top: solid 4px #e47f7f;
}
.table section table thead tr:nth-of-type(2) {
  height: 59px;
  font-size: 22px;
  color: #666666;
}
.table section table tbody tr {
  height: 56px;
  line-height: 56px;
  font-size: 18px;
  color: #666666;
}
.table section table tbody tr:nth-of-type(odd) {
  background-color: #f2f2f6;
}
.table section table tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}
.table section p {
  padding-top: 29px;
  font-size: 14px;
  text-align: right;
}
body {
  font-family: "PingFang-SC-Medium";
  position: relative;
  height: 100vh;
}
@media screen and (max-width: 750px) {
  .wrapper .map {
    padding-top: 0.768rem;
  }
  .wrapper .map p {
    font-size: 0.896rem;
    padding: 1.70666667rem 0;
  }
  .wrapper .map .year-type {
    top: 4rem;
    left: 2rem;
    width: 6.4rem;
    height: 1.28rem;
    margin-right: 0.192rem;
    border-radius: 0.10666667rem;
  }
  .change {
    margin: 0.64rem;
    width: 4.26666667rem;
    height: 1.70666667rem;
    border-radius: 0.10666667rem;
  }
  .table {
    padding-top: 0.768rem;
  }
  .table section menu {
    overflow: hidden;
  }
  .table section menu p {
    font-size: 0.896rem;
    padding: 1.70666667rem 0;
  }
  .table section menu select {
    width: 6.4rem;
    height: 1.28rem;
    margin-right: 0.192rem;
    border-radius: 0.10666667rem;
  }
  .table section menu select option {
    height: 1.28rem;
  }
  .table section menu input {
    width: 6.4rem;
    height: 1.28rem;
    margin-right: 0.10666667rem;
    border-radius: 0.10666667rem;
  }
  .table section table {
    font-size: 0.512rem;
    margin-top: 0.64rem;
  }
  .table section table td {
    border: solid 1px #d1d1d1;
    border-spacing: none;
  }
  .table section table thead tr:first-of-type {
    font-size: 0.512rem;
    height: 1.42933333rem;
  }
  .table section table thead tr:nth-of-type(2) {
    height: 1.25866667rem;
    font-size: 0.512rem;
  }
  .table section table tbody tr {
    height: 1.19466667rem;
    line-height: 1.19466667rem;
    font-size: 0.512rem;
  }
  .table section p {
    padding-top: 0.42666667rem;
  }
}
